body{
    font-family: Bahnschrift, 'Segoe UI';
    font-weight: 90;
    backGround: linear-gradient(to left, #18062c,#321891);
    backdrop-filter: blur(20px) saturate(100%);
    color:aqua;
    border-radius: 12px;

}
@font-face {
    font-family: CustomFont;
    src: url(bahnschrift.ttf) format('ttf'),

}
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}
#typewriter {
  font-size: 30px;
  font-family: 'Segoe UI';
  font-weight: lighter;
  overflow: hidden; /* Ensures the text is contained within the element */
  border-right: .15em solid orange; /* Adds a blinking cursor effect */
  white-space: nowrap; /* Prevents line breaks */
  margin: 0; /* Removes any default margin */
  /*thsi code is very very good boy
  */
  padding: 0; /* Removes any default padding */
  animation: typewriter 3s steps(40);
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


#AAtitle{
  font-size: 66px;
  font-family: Bahnschrift, 'Segoe UI';
  font-weight: lighter;

}

.WelcLinks{

  width:25rem;
  
  color:cyan;
  backdrop-filter: blur(0px) saturate(0%);
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 90px 125px;

}
.footer{
  width:27rem;
  background-color: rgb(0, 0, 0);
  padding: 7px 100px;
}

.links{
  margin: 7px 0;
  display: flex;
  flex-direction: row;
}


.aboutbutton{
  color:rgb(0, 255, 85);

  font-weight: lighter;
  font-family: Bahnschrift; 
  backdrop-filter: blur(0px) saturate(0%);
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}

#about{
  font-family: Bahnschrift, 'Segoe UI';
  font-weight: lighter;
}
